/* 2015 Combined Structure */

/* normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}h2{font-size:1.5em;margin:0.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:0.83em;margin:1.67em 0;}h6{font-size:0.67em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}p,pre{margin:1em 0;}code,kbd,pre,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:'';content:none;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}dl,menu,ol,ul{margin:1em 0;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}figure{margin:0;}form{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;white-space:normal;*margin-left:-7px;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}

/* html5 boilerplate */
html,button,input,select,textarea{color:#222;}html{font-size:1em;line-height:1.4;}::-moz-selection{background:#b3d4fc;text-shadow:none;}::selection{background:#b3d4fc;text-shadow:none;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}audio,canvas,img,video{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}

/* =========================================================================
  Browsehappy
  ========================================================================== */
  .browsehappy { text-align: center; padding: 0.75em; color: #ccc; background: #333; }
  .browsehappy a { color: skyBlue; text-decoration: none; border-bottom: 0.0625em solid; }
  .browsehappy a:hover { color: skyBlue; text-decoration: none; border-bottom: 0.0625em solid rgba(255,255,255,0.15); }

/* =========================================================================
  Typography
  ==========================================================================

  Typographic Scale Used:

  6px, 7px, 8px, 9px, 10px, 11px, 12px, 14px, 16px, 18px, 21px, 24px, 36px, 48px, 60px, 72px, 84px, 96px, 108, 120
  |-------------- +1 --------------|------- +2 -------|--- +3 ---|--------------------- +12 --------------------|

  Important information: 
  ----------------------
  » Even though the CSS is structured in a Mobile First approach, the Desktop base font-size: 16px; is used to calulate the em units.

  H1 - fs:48px; / lh:60px;
  H2 - fs:36px; / lh:48px;
  H3 - fs:24px; / lh:36px;
  H4 - fs:21px; / lh:24px;
  H5 - fs:18px; / lh:24px;
  H6 - fs:16px; / lh:24px;

  medium - fs:18px; / lh:24px;
  x-medium - fs:21px; / lh:24px;

  large - fs:60px; / lh:72px;
  x-large - fs:72px; / lh:84px; / mb:48px;
  xx-large - fs:84px; / lh:96px; / mb:48px;

  ========================================================================== */

  html { 
    font-size: 0.75em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "kern" 1, "liga" 1;
     -moz-font-feature-settings: "kern=1", "liga=1";
     -moz-font-feature-settings: "kern" on, "liga" on;
      -ms-font-feature-settings: "kern" 1, "liga" 1;
       -o-font-feature-settings: "kern", "liga";
          font-feature-settings: "kern", "liga";
  }

  html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/*  h1, h2, h3, h4, h5, h6 { font-weight: normal; }*/
  strong { font-weight: bold; }
  em { font-style: italic; }

  h1 { font-size: 3em; line-height: 1.25; }
  h2 { font-size: 2.25em; line-height: 1.33333333333333; }                                       
  h3 { font-size: 1.5em; line-height: 1.5; }                                                      
  h4 { font-size: 1.3125em; line-height: 1.14285714285714; }                                   
  h5 { font-size: 1.125em; line-height: 1.33333333333333; font-weight: bold; }                     
  h6 { font-size: 1em; line-height: 1.5; font-weight: bold; }  
  p { font-size: 1em; }
  a { font-size: 1em; text-decoration: none; color: #333; border-bottom: 1px solid #333; }
  a:hover { text-decoration: none; color: #333; border-bottom: none; }
  a:focus { color: #333; outline: none; }

  /* Medium */
  .medium { font-size: 1.125em; line-height: 1.33333333333333; margin: 0 0 1.33333333333333em 0; }
  .x-medium { font-size: 1.3125em; line-height: 1.14285714285714; margin: 0 0 1.14285714285714em 0; }

  /* Large */
  .large { font-size: 3.75em; line-height: 1.2; margin-bottom: 0.4em; }                           
  .x-large { font-size: 4.5em; line-height: 1.16666666666667; margin-bottom: 0.66666666666667em; }
  .xx-large { font-size: 5.25em; line-height: 1.14285714285714; margin-bottom: 0.57142857142857em; }

  .small-caps {
      -ms-font-feature-settings: "smcp";
      -moz-font-feature-settings: "smcp";
      -webkit-font-feature-settings: "smcp";
      font-feature-settings: "smcp";
  }

  .text-figures { 
      -moz-font-feature-settings: 'onum';
      -ms-font-feature-settings: 'onum';
      -webkit-font-feature-settings: 'onum';
      font-feature-settings: 'onum';
  }

  .textDG { color: #333; }
  .textLG { color: #aaa; }

/* =========================================================================
  Fancy - Headings
  ==========================================================================
  <div class="headingGroup">
   <h1>Justo Egestas</h1>
   <h2>Quam Parturient Inceptos</h2>
  </div>
  ========================================================================== */
  .headingGroup > *:first-child {
    margin-bottom: 0;
  }
  .headingGroup > *:last-child {
    color: #aaa;
  }

/* ==========================================================================
  Formalize.sass styles
  ========================================================================== */

  /* Label */
  label { display: block; }

  /* Input */
  input, textarea { -webkit-appearance: none; border-radius: 0; }
  input[type="radio"] { -webkit-appearance: radio; }
  input[type="checkbox"] { -webkit-appearance: checkbox; }

  /* Basic field height */
  input[type="text"], input[type="email"], input[type="number"], 
  input[type="password"], input[type="search"], input[type="range"] { height: 2.25em; padding: 0 0.5em; }

  /* Border */
  input[type="text"], input[type="email"], input[type="number"], input[type="password"], 
  input[type="file"], input[type="search"], input[type="range"], textarea, fieldset { border: none; box-shadow: inset 0 0 0 1px #D5D5D5; }

  /* Buttons */
  input[type="button"], input[type="submit"], input[type="reset"], button {
    border: none;
    display: inline-block;
    padding: 0 1em;
    cursor: pointer;
    line-height: 2.25;
    background: #333;
    color: white;
    width: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

  /* HoverButton */
  input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, button:hover { background: #444; }

  /* ActiveButton */
  input[type="button"]:active, 
  input[type="submit"]:active, 
  input[type="reset"]:active,
  button:active { background: #555; }

  /* Textarea styles */
  textarea { padding: 1em; height: 6em; }

  /* Legend */
  legend { font-weight: bold; padding: 0 0.5em; margin-left: -0.5em; background: white; }

  /* Fieldset styles & File Upload style */
  fieldset { border-radius: 0.3125em; padding: 0.75em 1.5em; padding-bottom: 0; }

  /* Radio & Checklist Styles */
  fieldset ul { list-style: none; }
  fieldset ul,
  fieldset ul label { margin-bottom: 0; }
  fieldset li { margin-bottom: 1em; }
  input[type="checkbox"], 
  input[type="radio"] { width: auto; margin: 0 0.5em 0 0; }

  /* Upload File Text */
  input[type="file"] { font-size: 0.75em; padding: 1.75em 2em; margin-bottom: 2em; }

  /* Removed focus highlight */
  input:focus, textarea:focus { outline: none; }
  

/* =========================================================================
  Baseline Grid - 24px w/ 12px subdivision ( http://basehold.it )

  Comment this out when finished designing.
  ========================================================================== */

  body {
    position: relative;
  }

  body:after {
    position: absolute;
    width: auto;
    height: auto;
    z-index: 9999;
    content: '';
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;

  }

  body:active:after {
    display: none;
  }

  @media only screen and (min-width: 53.125em) { 
    body:after {
      background-image: url("../img/basehold-24.png");
    } 
  }

/* =========================================================================

  Baseline Scale Values:

  0.75em (12px), 1.5em (24px), 2.25em (36px), 3em (48px), 3.75em (60px), 4.5em (72px), 5.25em (84px), 6em (96px), 6.75em (108px), 7.5em (120px)

  ========================================================================== */

  h1, h2, h3, p, header, table, figure, summary, footer, details, section, article, dl, menu, ul, ol, aside, div, hr, fieldset, textarea, keygen, select, input { 
    margin: 0 0 1.5em 0; 
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
  h1 { margin: 0 0 0.5em 0; }
  h2 { margin: 0 0 0.66666666666667em 0; }
  h3 { margin: 0 0 1em 0; }
  p { margin: 0 0 1.5em 0; }
  h4 { margin: 0 0 1.14285714285714em 0; }
  h5 { margin: 0 0 1.33333333333333em 0;  }
  h6 { margin: 0 0 1.5em 0; }
  li { margin: 0 0 1.5em 0; }
  figure img { margin-bottom: 1.5em; }

  label { margin-bottom: 0.75em; }
  summary { margin-bottom: 0; }
  details p { margin-bottom: 0; }
  

/* =========================================================================
  Automatic Inline-Block Column
  ========================================================================== */
  .autoColumn > * {
    display: inline-block !important;
    float: left;
    margin-right: 0.75em;
  }

/* =========================================================================
  Columns
  ========================================================================== */

  [class*="col-"] > * > img {
    width: 100%;
    margin-bottom: 1.5em;
  }

  @media only screen and (min-width: 31.25em) {

    [class*="col-"] > * {
      float: left;
      /* Margin total = 3em */
      margin: 0 1.5em;
    }

    [class*="col-"] {
      /* Offset left margin */
      -webkit-transform: translate(-1.5em, 0);
          -ms-transform: translate(-1.5em, 0);
              transform: translate(-1.5em, 0);
      /* Left & right edge margin added */
      width: calc( 100% + 3em );
      /* Flex */
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }

    .col-2 > * {
      /* Individual width & Margin total removed */
      width: calc( (100% / 2) - 3em );
    }
    .col-3 > * {
      /* Individual width & Margin total removed */
      width: calc( (100% / 3) - 3em );
    }
    .col-4 > * {
      /* Individual width & Margin total removed */
      width: calc( (100% / 4) - 3em );
    }

  }

/* =========================================================================
  Horizontal Rule
  ========================================================================== */

  hr {
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), 0 1px 0px 0 rgba(255, 255, 255, 0.1);
    border-top: none;
    margin-top: -1px;
    }

/* =========================================================================
  Clear styles
  ==========================================================================
  <header class="nmb">
   <section class="wrapper">
      <h1 class="nmb">Header</h1>
   </section>
  </header>
  ========================================================================== */
  /* No Margin top or bottom */
  .nmb { margin-bottom: 0px; } .nmt { margin-top: 0px; } .nmr { margin-right: 0px; }
  /* No Padding top or bottom */
  .npb { padding-bottom: 0px; } .npt { padding-top: 0px; }
  /* No border bottom */
  .nbb, .nbb:hover { border-bottom: none; }

/* =========================================================================
  Wrapper Styles
  ==========================================================================
  <main>
   <section class="wrapper"></section>
  </main>
  ========================================================================== */
  .wrapper { width: 90%; width: calc( 100% - 3em ); max-width:73.75em; margin: 0 auto; padding: 1.5em 0; }

/* =========================================================================
  Selection Styles
  ========================================================================== */
  ::-moz-selection { background: #333; color: white; text-shadow: none; }
  ::selection { background: #333; color: white; text-shadow: none; }

/* =========================================================================
  Box sizing
  ========================================================================== */
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

/* =========================================================================
  List Styles
  ========================================================================== */
  /* General List Styles */
  ul li ul { margin-top: 0.75em; color: #777; font-size: 0.875em; }
  ul, ol { padding: 0; list-style-position: inside; }
  li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 0.75em;
  }

/* =========================================================================
  Fancy - Unordered List
  ==========================================================================
  <ul class="fancyList">
   <li>Coffee</li>
   <li>Tea</li>
   <li>Milk</li>
  </ul>
  ========================================================================== */
  ul.fancyList { list-style: none; }
  .fancyList li { position: relative; padding-left: 1em; text-indent: 0; }
  .fancyList li:after { 
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 0;
    height: 0;
    border-left: 0.375em solid #ccc;
    border-top: 0.1875em solid transparent;
    border-bottom: 0.1875em solid transparent;
    }
  .nested li ul li { padding: 0; }
  .nested li ul li:after { display: none; }

/* =========================================================================
  Description List Styles
  ========================================================================== */
  dd { margin: 0 0 1.5em 0; }
  dt { font-weight: bold; }

/* =========================================================================
  Details Styles - Webkit Only
  ========================================================================== */
  summary { background: #F9F9F9; padding: 0.75em; }
  summary:focus { outline: none; }
  details { box-shadow: 0 0 0 1px #ccc; }
  details[open] summary { box-shadow: inset 0 -1px 0 0 #ccc; }
  summary::-webkit-details-marker { display: none }
  summary:before { 
    content: "+";
    padding-right: 0.75em;
    display: block;
    float: left;
    width: 1.5em;
  }
  details[open] summary:before { content: "-"; }
  details p { padding: 1.5em; background: white; }


/* =========================================================================
  Generic Table Styles
  ============================================================================
  <table>
    <thead>
      <tr>
        <th>Section 1</th>
        <th>Section 2</th>
        <th>Section 3</th>
        <th>Section 4</th>
        <th>Section 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Section 1">Nullam id dolor id nibh ultricies vehicula ut id elit.</td>
        <td data-label="Section 2">Nulla vitae elit libero, a pharetra augue.</td>
        <td data-label="Section 3">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</td>
        <td data-label="Section 4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
        <td data-label="Section 5">Maecenas faucibus mollis interdum.</td>
      </tr>
    </tbody>
  </table>
  ========================================================================== */
  table { width: 100%; border-collapse: collapse; }
  thead { display: none; }
  thead tr { background: #EAEAEA; font-weight: bold; }
  td, th { padding: 0.75em; }
  td:before { content: attr(data-label); float: left; font-weight: bold; width: auto; padding-right: 3em; }
  
  /* Table Border */
  td { display: block; box-shadow: inset 0 -1px 0 0 #ccc; text-align: right; }
  tr { display: block; margin-bottom: 1.5em; box-shadow: inset 0 0 0 1px #ccc; background: #f9f9f9; }

  @media only screen and (min-width: 31.25em) {

    thead { display: table-header-group; }
    td, th { padding: 0.75em 1.5em; }
    td:before { display: none; }
    td { display: table-cell; text-align: left; }
    tr { display: table-row; vertical-align: top; text-align: left; margin-bottom: 0; }

    /* Table Border */
    table { box-shadow: 0 0 0 1px #ccc; }

    /* Header Border */
    thead th { box-shadow: inset 0 -1px 0 0 #ccc, inset -1px 0 0 0 #ccc; }
    thead th:last-child { box-shadow: inset 0 -1px 0 0 #ccc, inset 0 0 0 0 #ccc; }

    /* Body Border */
    tbody tr td { box-shadow: inset -1px 0 0 0 #ccc, inset 0 -1px 0 0 #ccc; }
    tbody tr td:last-child { box-shadow: inset 0 0 0 0 #ccc, inset 0 -1px 0 0 #ccc; }
    tbody tr:last-child td { box-shadow: inset -1px 0 0 0 #ccc, inset 0 0 0 0 #ccc; }
    tbody tr:last-child td:last-child { box-shadow: inset 0 0 0 0 #ccc; }
  }

/* =========================================================================
  Grid Overlay ( Not used for layout )

  Note: Include code from the main.js file - "Overlay Overlay"
  =========================================================================*/

.grid,
.grid * {
  height: 100%;
  margin-bottom: 0;
}

.grid:active { visibility: hidden; }

.grid {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
}

.grid .columnWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid .column {
  box-shadow: 0 0 0 1px skyblue;
}

/* Two Column */
.grid .column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 calc(100% / 2 - ((1.5em * (2 - 1)) / 2));
      -ms-flex: 0 0 calc(100% / 2 - ((1.5em * (2 - 1)) / 2));
          flex: 0 0 calc(100% / 2 - ((1.5em * (2 - 1)) / 2));
  display: none;
}

.grid .column:nth-of-type(1),
.grid .column:nth-of-type(2) {
  display: block;
}

/* Three Column */
@media only screen and (min-width: 31.25em) {
  .grid .column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% / 3 - ((1.5em * (3 - 1)) / 3));
        -ms-flex: 0 0 calc(100% / 3 - ((1.5em * (3 - 1)) / 3));
            flex: 0 0 calc(100% / 3 - ((1.5em * (3 - 1)) / 3));
  }

  .grid .column:nth-of-type(3) {
    display: block;
  }
}
/* Four Column */
@media only screen and (min-width: 48em) {
  .grid .column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% / 4 - ((1.5em * (4 - 1)) / 4));
        -ms-flex: 0 0 calc(100% / 4 - ((1.5em * (4 - 1)) / 4));
            flex: 0 0 calc(100% / 4 - ((1.5em * (4 - 1)) / 4));
  }

  .grid .column:nth-of-type(4) {
    display: block;
  }
}
/* Six Column */
@media only screen and (min-width: 73.75em) {
  .grid .column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% / 6 - ((1.5em * (6 - 1)) / 6));
        -ms-flex: 0 0 calc(100% / 6 - ((1.5em * (6 - 1)) / 6));
            flex: 0 0 calc(100% / 6 - ((1.5em * (6 - 1)) / 6));
  }

  .grid .column:nth-of-type(5),
  .grid .column:nth-of-type(6) {
    display: block;
  }
}

/* =========================================================================
  Transformicons Simplified: From my codepen - http://codepen.io/trilm/pen/LEejop

  Note: Include code from the main.js file - "Transformicons Simplified"

  Example: 

  <a class="tIcons" href="#">
    <!-- Menu Icon -->
    <svg viewBox="0 0 36 30">
      <rect width="36" height="6"/>
      <rect y="24" width="36" height="6"/>
      <rect y="12" width="36" height="6"/>
    </svg>
    <!-- Close Icon -->
    <svg viewBox="0 0 36 30">
      <polygon points="32.8,4.4 28.6,0.2 18,10.8 7.4,0.2 3.2,4.4 13.8,15 3.2,25.6 7.4,29.8 18,19.2 28.6,29.8 32.8,25.6 22.2,15 "/>
    </svg>
  </a>
  ========================================================================== */

  a.tIcons {
    display: block;
    width: 1.75em;
    height: 1.5em;
    position: relative;
    border-bottom: none;
  }
  a.tIcons svg {
    width: 100%;
    display: block;
    position: absolute;
  }
  a.tIcons svg:first-child {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
  }
  a.tIcons svg:last-child {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: 0.2s ease-in-out;
            transition: 0.2s ease-in-out;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  a.tIcons.toggle svg:first-child {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  a.tIcons.toggle svg:last-child {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  a.tIcons.tRotate svg:last-child {
    -webkit-transform: scale(0) rotate(0deg);
        -ms-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  a.tIcons.tRotate.toggle svg:last-child {
    -webkit-transform: scale(1) rotate(-360deg);
        -ms-transform: scale(1) rotate(-360deg);
            transform: scale(1) rotate(-360deg);
  }

/* =========================================================================
  Mobile First: Progressively Enhance - http://bradfrost.com/blog/mobile/support-vs-optimization/

  Note: Include code from the main.js file - "Column setup"
  =========================================================================*/

.desktop { display: none; }

/* Even though the JS loads the elements in
at Greater than 500px, your breakpoints will determine where to show and hide elements. */

@media only screen and (min-width: 768px) {
  .mobile { display: none; }
  .desktop { display: block; }
}

/* =========================================================================
  Author's custom styles
  ========================================================================== */













/* =========================================================================
  Helper classes
  ========================================================================== */
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}.ir:before{content:"";display:block;width:0;height:150%;}.hidden{display:none !important;visibility:hidden;}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}.invisible{visibility:hidden;}.cf:before,.cf:after{content:" ";display:table;}.cf:after{clear:both;}.cf{*zoom:1;}


/* =========================================================================
  Media Queries / min-width: 500px
  ========================================================================== */
  @media only screen and (min-width: 31.25em) {

    html {
      font-size: 0.75em;
    }

  }



/* ==========================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
========================================================================== */



/* =========================================================================
  Media Queries / min-width: 768px
  ========================================================================== */
  @media only screen and (min-width: 48em) {

    html {
      font-size: 0.875em;
    }

  }



/* ==========================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
========================================================================== */



/* =========================================================================
  Media Queries / min-width: 850px
  ========================================================================== */
  @media only screen and (min-width: 53.125em) {

    html {
      font-size: 1em;
    }

  }



/* ==========================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
========================================================================== */



/* =========================================================================
  Media Queries / min-width: 1180px
  ========================================================================== */
  @media only screen and (min-width: 73.75em) {}



/* ==========================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
========================================================================== */



/* ==========================================================================
   Media Queries / Print
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important;}a,a:visited{text-decoration:underline;}a[href]:after{content:" (" attr(href) ")";}abbr[title]:after{content:" (" attr(title) ")";}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";}pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display:table-header-group;}tr,img{page-break-inside:avoid;}img{max-width:100% !important;}@page{margin:0.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}



/* ==========================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
=============================================================================
========================================================================== */