/* =========================================================================
 *Baseline Grid - 24px w/ 12px subdivision ( http://basehold.it )
 *========================================================================== */

body
  position: relative
  &:after
    position: absolute
    width: auto
    height: auto
    z-index: 9999
    content: ''
    display: block
    pointer-events: none
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: none
  &:active:after
    display: none

@media only screen and (min-width: 53.125em)
  body:after
    background-image: url("../img/basehold-24.png")

/* =========================================================================
 *
 *  Baseline Scale Values:
 *
 *  0.75em (12px), 1.5em (24px), 2.25em (36px), 3em (48px), 3.75em (60px), 4.5em (72px), 5.25em (84px), 6em (96px), 6.75em (108px), 7.5em (120px)
 *
 *  ========================================================================== */

h1, h2, h3, p, header, table, figure, footer, details, section, article, dl, menu, ul, ol, aside, div, hr, fieldset, textarea, keygen, select, input
  margin: 0 0 1.5em 0
  width: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  margin: 0 0 0.5em 0

h2
  margin: 0 0 0.66666666666667em 0

h3
  margin: 0 0 1em 0

p
  margin: 0 0 1.5em 0

h4
  margin: 0 0 1.14285714285714em 0

h5
  margin: 0 0 1.33333333333333em 0

h6, li
  margin: 0 0 1.5em 0

label
  margin-bottom: 0.5em

summary
  margin-bottom: 0

details p
  margin-bottom: 0



