/* =========================================================================
  Baseline Grid - 24px
  ========================================================================== */
h1, h2, h3, p, header, footer, section, article, ul, aside, div, hr
  margin: 0 0 1.5em 0
  width: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  margin: 0 0 0.5em 0

h2
  margin: 0 0 0.66666666666667em 0

h3
  margin: 0 0 1em 0

p
  margin: 0 0 1.5em 0

h4
  margin: 0 0 1.14285714285714em 0

h5
  margin: 0 0 1.33333333333333em 0

h6, li
  margin: 0 0 1.5em 0