/* =========================================================================
 *Grid Overlay 
 *=========================================================================

html, body
  height: 100%

.grid,
.grid *
  height: 100% 
  margin-bottom: 0

.grid
  position: fixed
  width: 100%
  top: 0
  left: 0
  margin: 0
  z-index: 1000

.grid .columnWrap
  display: flex 
  justify-content: space-between
  
.grid .column
  box-shadow: 0 0 0 1px skyblue

/* Two Column */
.grid .column
  flex: 0 0 calc(100% / 2 - ((1.5em * (2 - 1)) / 2))
  display: none
.grid .column:nth-of-type(1),
.grid .column:nth-of-type(2)
  display: block

/* Three Column */
@media only screen and (min-width: 31.25em)
  .grid .column
    flex: 0 0 calc(100% / 3 - ((1.5em * (3 - 1)) / 3))
  .grid .column:nth-of-type(3)
    display: block

/* Four Column */
@media only screen and (min-width: 48em)
  .grid .column
    flex: 0 0 calc(100% / 4 - ((1.5em * (4 - 1)) / 4))
  .grid .column:nth-of-type(4)
    display: block

/* Six Column */
@media only screen and (min-width: 73.75em)
  .grid .column
    flex: 0 0 calc(100% / 6 - ((1.5em * (6 - 1)) / 6))
  .grid .column:nth-of-type(5),
  .grid .column:nth-of-type(6)
    display: block