/* =========================================================================
 *
 *  List Styles
 *
 *  General List Styles
 *
 *  ========================================================================== */

ul, ol
  padding: 0
  list-style-position: inside

ul li ul
  margin-top: 0.85714285714286em
  margin-bottom: 1.71428571428571em
  color: #777
  font-size: 0.875em

ul li ul li
  line-height: 1.71428571428571
  margin-bottom: 0.85714285714286em


li
  padding-left: 1em
  text-indent: -1em
  margin-bottom: 0.75em

ul.cancel-list-style,
ol.cancel-list-style
  list-style: none
  li
    padding-left: 0
    text-indent: 0

/* =========================================================================
 *
 *  Fancy - Unordered List
 *
 * <ul class="fancyList">
 *  <li>Coffee</li>
 *  <li>Tea</li>
 *  <li>Milk</li>
 * </ul>
 *
 *  ========================================================================== */

ul.fancyList
  list-style: none

.fancyList li
  position: relative
  padding-left: 1em
  text-indent: 0
  &:after
    content: ""
    position: absolute
    top: 0.5em
    left: 0
    width: 0
    height: 0
    border-left: 0.375em solid #ccc
    border-top: 0.1875em solid transparent
    border-bottom: 0.1875em solid transparent



.nested li ul li
  padding: 0
  &:after
    display: none
