/* =========================================================================
  Sticky Footer
  
  <body class="site">
    <header>…</header>
    <main class="site-content">…</main>
    <footer>…</footer>
  </body>

  ========================================================================== */

  .site
    display: flex
    min-height: 100vh
    flex-direction: column
    .ieBugFix &
      display: block

  .site-content
    flex: 1