// =============================================================
// Descriptive variables
// =============================================================

// Text Colours
$white:          #ffffff
$darkGrey:       #333333
$grey: 					 #222
$bodyTextGrey:   #111
$blue:           #0092cc

$displayFont: BebasNeue
$bodyFont: 'Helvetica-neue', Helvetica, 'Arial Narrow', Arial, sans-serif

// =============================================================
// Functional variables
// =============================================================

$text_color:    $bodyTextGrey
$link_color:    $bodyTextGrey
$border_color:  $grey
$yellow: rgb(255, 255, 176)

$khaki-opac: rgba(99, 80, 26, 0.85)
$khaki: rgba(99, 80, 26, 1)
$darkKhaki: #2e260f

$orange-opac: rgba(139, 57, 32, 0.85)
$orange: rgba(139, 57, 32, 1)
$darkOrange: #3e1b11

$tan-opac: rgba(132, 87, 35, 0.85)
$tan: rgba(132, 87, 35, 1)
$darkTan: #3c2913

$green-opac: rgba(51, 90, 81, 0.85)
$green: rgba(51, 90, 81, 1)
$darkGreen: #192a26

$brown-opac: rgba(98, 88, 72, 0.85)
$brown: rgba(98, 88, 72, 1)
$darkBrown: #2e2923